.border-with-dot {
  position: relative;
  padding-bottom: 10px;
  margin: 20px 0;
  width: 100%;

  &__border {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: var(--border-width, 1px);
    background-color: var(--border-color, #3A312C);
  }

  // Pseudo-élément pour le symbole ✦
  &::after {
    content: "✦";
    position: absolute;
    left: 50%;
    bottom:80%;
    transform: translate(-50%, 50%);
    color: var(--dot-color, #B89A73);
    height: var(--dot-size);
    background: transparent;
  }
}