.border-with-dot {
  position: relative;
  padding-bottom: 10px; /* Espace pour la bordure */
  margin: 20px 0;
  width: 100%;

  &__border {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: var(--border-width, 1px);
    background-color: var(--border-color, #3A312C);
  }

 &__dot {
  position: absolute;

  left: 50%;
  bottom: 0;

  transform: translate(-50%, 50%);

  background: var(--background-color);

  padding: 0 8px;

  &::before {
    content: "✦";
    color: var(--dot-color);
    font-size: 0.8rem;
  }
}
}