.border-with-dot {
  position: relative;
  width: 100%;

    &--home{
     display: inline-block; 
  }

  &--title{
    width: auto;
        margin-inline: 100px;
        margin-bottom: 20px;
  }

  &__border {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px; /* Positionne la bordure en dessous du texte */
    height: var(--border-width, 1px);
    background-color: var(--border-color, #3A312C);
  }

  /* Style pour le symbole ✦ */
  &::after {
    content: "✦";
    position: absolute;
    left: 50%;
    bottom: -11px; /* Aligne le symbole avec la bordure */
    transform: translateX(-50%);
    color: var(--dot-color);
    font-size: var(--dot-size);
    background: transparent;
  }

}