.region-label-container {
    text-decoration: none;
    cursor: pointer;
    z-index: 10;
    position: absolute;
    text-wrap: nowrap;
    
}

.region-label-link {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.region-label {
    color: #3A2E22;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.3s ease;
}

.region-label:hover {
    color: #997b5d;
    transform: scale(1.05);
}

/* --- Styles pour les lignes --- */
.region-line {
    position: absolute;
    background: var(--line-color, #B89A73);
    transform-origin: center;
    pointer-events: none;
    /* Permet de cliquer à travers la ligne */
}



/* Ligne vers la gauche */
.region-line--left {
    width: var(--line-length, 15px);
    height: 1px;
    left: calc(-1 * var(--line-length, 15px));
    top: 50%;
    transform: translateY(-50%);
}