// Styles de base pour le corps du document
body {
  font-family: var(--font-body);
  /*color: var(--color-text-main);
  line-height: 1.6;
  background-color: var(--color-bg-primary);
  overflow-x: hidden;*/
}

// Styles pour les titres
h1, h2, h3 {
  font-family: var(--font-title);
  /*letter-spacing: 0.1em;
  font-weight: 400;
  color: var(--color-deep-brown);*/
}

// Styles pour les paragraphes
p {
  font-family: var(--font-body);
 /* font-size: 1rem;
  margin-bottom: var(--spacing-unit);
  color: var(--color-text-main);*/
}

// Styles pour les liens
ul{
list-style: none;
}

a{
    text-decoration: none;
}

// Styles pour les images
/*img {
  max-width: 100%;
  height: auto;
  display: block;
}*/