:root {
  // Couleurs
 --color-pastel-sand: #F5E6D3;
  --color-pastel-almond: #E8D5C4;
  --color-pastel-peach: #F4C2A1;
  --color-pastel-rose: #D4B5A7;
  --color-pastel-sage: #C8D5B8;
  --color-pastel-sky: #B8C5D1;
  --color-pastel-lavender: #D6CADD;
  --color-pastel-straw: #E6D3A3;
  --color-pastel-terracotta: #D8A48F;
  --color-pastel-pearl: #D1C7B7;
  --background-color: rgba(245, 238, 228, 0.7);
  --region-hover-color: #997b5d;


  //Bordure:
  --border-color: #D6C7B6;
  --border-width: 1px;
  --dot-color: #B89A73;
  --dot-size: 10px;



  // Polices
  --font-title: 'Cinzel', serif;
  --font-body: 'Lato', sans-serif;

  // Espacements


  // Ombres

  // Transitions

}