:root {
  // Couleurs

  --background-color: rgba(245, 238, 228, 0.7);


  //Bordure:
   --border-color: #D6C7B6;
   --border-width: 1px;
   --dot-color:#B89A73;
   --dot-size:10px;

  

  // Polices
  --font-title: 'Cinzel', serif;
  --font-body: 'Lato', sans-serif;

  // Espacements
  

  // Ombres
 
  // Transitions
  
}