 .global {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     min-height: 100vh;
     margin-top: 150px;
     gap: 50px;



     .presentation {
         display: flex;
         justify-content: center;
         flex-direction: column;
         gap: 20px;
         margin-top: -100px;

         h1 {
             text-align: center;
         }

     }

 }

 .description {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 20px;
     height: 600px;
     border: 2px dashed var(--color-carte);


     .logo-carte {
         border: 2px dashed var(--color-carte);
         border-radius: 80px;
         width: 80px;
         padding: 10px;
     }


     p {
         font-style: italic;
         color: var(--color-carte);
     }

     &.is-active {
         border-color: transparent;


         .logo-carte {
             border-color: transparent;
         }

         .photo-preview {
             width: 300px;
             height: auto;
             border: 5px solid white;
             margin-top: 10px;
         }

         p {
             display: flex;
             text-align: center;
             color: black;
             padding-left: 20px;
             border-left: 1px solid var(--color-carte-border);
         }

         .explore-region-link {
             width: 100%;
             text-decoration: none;
             color: inherit;

             h3 {
                 display: flex;
                 align-items: center;
                 gap: 15px;
                 width: 100%;

                 color: var(--color-carte-border);

                 &::after {
                     content: "";
                     display: block;
                     flex: 1;
                     height: 1px;
                     background-color: var(--border-color);
                 }
             }

             &:hover {
                 h3 {
                     color: var(--color-pastel-peach);

                     &::after {
                         background-color: var(--color-pastel-peach);
                     }
                 }
             }
         }
     }
 }