.interactive-map-outer-border {
    border: 1px solid #D7B48C;
    padding: 5px;
   /* border-radius: 46px;
    box-shadow: inset 5px 5px 10px #e0c5aa, inset -5px -5px 10px #fffbd8;*/
    width: 100%;  
    height: 100%; 
}

.interactive-map-inner-border {
    border: 1px solid #D7B48C;
    
    /*border-radius: 0.25rem;
    overflow: hidden;*/
    width: 100%; 
    height: 100%; 
   /* background-color: #F5E6D3;  */
    
}

.interactive-map-container {
    position: relative;
    width: 400px;
    height: 600px;
    overflow: hidden;
    display: block;
   
}

.chile-map-image {
    width: 300px;
    height: 100%;
   
    margin-top: 5px;
   
}

.regions-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}